aiofiles==0.6.0
elfinder-client==2.1.55a6
fastapi==0.64.0
jinja2==2.11.3
pathvalidate==2.4.1
pillow==8.2.0
python-dotenv==0.17.1
python-multipart==0.0.5
typing_extensions==3.10.0.0
uvicorn[standard]==0.13.4
