<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8" />
		<title>filebrowser</title>
    {% include "elfinder/elfinderhead.html" %}
	</head>
	<body>
    {% include "elfinder/elfinder.html" %}
	</body>
</html>
