<script type="text/javascript" charset="utf-8">
		$().ready(function() {

			$('#finder').elfinder({
				url : '${request.route_url('connector')}',
				transport : new elFinderSupportVer1(),

				//handlers : {
				//	load : function(e, fm) {
				//		// fm.error('All your base belongs to us ')
				//	}
				//},
                                height: 490,
                                commandsOptions : {
		                    // "getfile" command options.
		                    getfile : {
			                // allow to return multiple files info
		            		//multiple : true,
			                // action after callback (""/"close"/"destroy")
			                oncomplete : ''
		                            },
                                },
				// onlyMimes : ['image', 'text/plain']
%if pageargs['mode']=='ru':
				lang : 'ru',
%else:
				lang : 'en',
%endif
			
				// requestType : 'POST',
				// rememberLastDir : false,
				// ui : ['tree', 'toolbar'],
				// ui : ['toolbar', 'places', 'tree', 'path', 'stat'],
				// commands : [],
				// commandsOptions : {
				// 	edit : {
				// 		mimes : ['text/plain', 'text/html', 'text/javascript'],
				// 		editors : [
				// 			{
				// 				mimes : ['text/html'],
				// 				load : function(textarea) {
				// 					tinyMCE.execCommand("mceAddControl", true, textarea.id);
				// 				},
				// 				close : function(textarea, instance) {
				// 					tinyMCE.execCommand('mceRemoveControl', false, textarea.id);
				// 				},
				// 				save : function(textarea, editor) {
				// 					textarea.value = tinyMCE.get(textarea.id).selection.getContent({format : 'html'});
				// 					tinyMCE.execCommand('mceRemoveControl', false, textarea.id);
				// 				}
				// 
				// 			}
				// 		]
				// 	}
				// }
				// uiOptions : {
				// 	toolbar : [['help']]
				// }
			})

			// $('#finder2').elfinder({
			// 	url : 'connectors/php/connector.php',
			// 	width:650,
			// 	lang : 'ru'
			// })

			// console.log(f1)
			// 
			// setTimeout(function() {
			// 	console.log($('#finder').elfinder('instance'))
			// }, 2000)

			// new elFinder($('<div/>'))

			// var f2 = $('#asd').elfinder({
			// 	url : 'connectors/php/connector.php',
			// 	lang : 'ru'
			// }).elfinder('instance')
			
			//$('#back').click(function(e) {
			//	f1.exec('back')
			//})
			//$('#fwd').click(function(e) {
			//	f1.exec('forward')
			//})
			
			//$('#dialog').click(function() {
				
			//	var fm = $('<div/>').dialogelfinder({
			//		url : 'php/connector.php',
			//		lang : 'en',
			//		width : 840,
			//		destroyOnClose : true,
			//		getFileCallback : function(files, fm) {
			//			console.log(files);
			//		},
			//		commandsOptions : {
			//			getfile : {
			//				oncomplete : 'close',
			//				folders : true
			//			}
			//		}
			//	}).dialogelfinder('instance')
			//	 console.log(fm)
			//})
			
		})
		
	</script>

	<div id="finder">elFinder <span>here</span></div>
