	<% static_url=request.static_url('elfinder_pyramid_example:static/') %>
	<!--<script src="jquery/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>-->
	<!--<script src="jquery/jquery-ui-1.8.16.custom.min.js" type="text/javascript" charset="utf-8"></script>-->
	<link rel="stylesheet" href="${static_url}elfinder-v2/jquery/ui-themes/smoothness/jquery-ui-1.8.16.custom.css" type="text/css" media="screen" title="no title" charset="utf-8">

	<link rel="stylesheet" href="${static_url}elfinder-v2/css/common.css"      type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="${static_url}elfinder-v2/css/dialog.css"      type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="${static_url}elfinder-v2/css/toolbar.css"     type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="${static_url}elfinder-v2/css/navbar.css"      type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="${static_url}elfinder-v2/css/statusbar.css"   type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="${static_url}elfinder-v2/css/contextmenu.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="${static_url}elfinder-v2/css/cwd.css"         type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="${static_url}elfinder-v2/css/quicklook.css"   type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="${static_url}elfinder-v2/css/commands.css"    type="text/css" media="screen" charset="utf-8">
	
	<link rel="stylesheet" href="${static_url}elfinder-v2/css/theme.css"       type="text/css" media="screen" charset="utf-8">
	
	<!-- elfinder core -->
	<script src="${static_url}elfinder-v2/js/elFinder.js"           type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/elFinder.version.js"   type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/jquery.elfinder.js"    type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/elFinder.resources.js" type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/elFinder.options.js"   type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/elFinder.history.js"   type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/elFinder.command.js"   type="text/javascript" charset="utf-8"></script>
	
	<!-- elfinder ui -->
	<script src="${static_url}elfinder-v2/js/ui/overlay.js"       type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/workzone.js"      type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/navbar.js"        type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/dialog.js"        type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/tree.js"          type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/cwd.js"           type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/toolbar.js"       type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/button.js"        type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/uploadButton.js"  type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/viewbutton.js"    type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/searchbutton.js"  type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/sortbutton.js"    type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/panel.js"         type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/contextmenu.js"   type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/path.js"          type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/stat.js"          type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/ui/places.js"        type="text/javascript" charset="utf-8"></script>
	
	<!-- elfinder commands -->
	<script src="${static_url}elfinder-v2/js/commands/back.js"      type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/forward.js"   type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/reload.js"    type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/up.js"        type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/home.js"      type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/copy.js"      type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/cut.js"       type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/paste.js"     type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/open.js"      type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/rm.js"        type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/info.js"      type="text/javascript" charset="utf-8"></script>
	<!--<script src="js/commands/duplicate.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="${static_url}elfinder-v2/js/commands/rename.js"    type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/help.js"      type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/getfile.js"   type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/mkdir.js"     type="text/javascript" charset="utf-8"></script>
	<!--<script src="js/commands/mkfile.js"    type="text/javascript" charset="utf-8"></script>-->
	<script src="${static_url}elfinder-v2/js/commands/upload.js"    type="text/javascript" charset="utf-8"></script>
	<!--<script src="js/commands/download.js"  type="text/javascript" charset="utf-8"></script>-->
	<!--<script src="js/commands/edit.js"      type="text/javascript" charset="utf-8"></script>-->
	<script src="${static_url}elfinder-v2/js/commands/quicklook.js" type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/quicklook.plugins.js" type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/extract.js"   type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/commands/archive.js"   type="text/javascript" charset="utf-8"></script>
	<!--<script src="js/commands/search.js"    type="text/javascript" charset="utf-8"></script>-->
	<script src="${static_url}elfinder-v2/js/commands/view.js"      type="text/javascript" charset="utf-8"></script>
	<!--script src="js/commands/resize.js"    type="text/javascript" charset="utf-8"></script>-->
	<script src="${static_url}elfinder-v2/js/commands/sort.js"      type="text/javascript" charset="utf-8"></script>

	<!-- elfinder languages -->
	<script src="${static_url}elfinder-v2/js/i18n/elfinder.en.js"    type="text/javascript" charset="utf-8"></script>
	<script src="${static_url}elfinder-v2/js/i18n/elfinder.ru.js"    type="text/javascript" charset="utf-8"></script>

	<!-- elfinder dialog -->
	<script src="${static_url}elfinder-v2/js/jquery.dialogelfinder.js"     type="text/javascript" charset="utf-8"></script>

	<!-- elfinder 1.x connector API support -->
	<script src="${static_url}elfinder-v2/js/proxy/elFinderSupportVer1.js" type="text/javascript" charset="utf-8"></script>

	<!-- elfinder custom extenstions -->
	<!--<script src="extensions/jplayer/elfinder.quicklook.jplayer.js" type="text/javascript" charset="utf-8"></script>-->
